.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #141414;
    align-items: center;

}

.last-txt {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 76px;
    line-height: 114px;
    /* or 150% */

    text-align: center;

    color: #DDDDDD;
    margin-top: 190px;
}

.count-icons {
    display: flex;
    margin-top: 160px;

}

.count-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 150px;
}

.count-txt {
    color: #EFEFEF;
    margin-top: 20px;
    font-weight: 500;
    font-size: 20px;
}

.qrImg {
    width: 200px;
    height: 250px;
    margin-top: 130px;
}

.applogo {
    width: 206px;
    margin-top: 25px;
}

.social-icons {
    display: flex;
    margin-top: 60px;
}

.media-icons {
    margin: 0 30px;
}

.ft-phones {
    width: 1200px;
    margin-top: 150px;
}

footer {
    width: 90%;
    border-top: 2px solid #606060;

}

.footer-wrap {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.grey {
    color: #757575;
}

.grey-II {
    display: flex;
}

li {
    color: #A2A2A2;
    list-style: none;
    margin: 0 30px;
}

.last-grey {
    color: #737373;
}



@media (min-width:600px) and (max-width:1150px) {

    .count-items {
        margin: 0 117px;
    }

    .count-items img {
        width: 18px;
    }

    .ft-phones {
        width: 830px;
    }

    .last-txt{
        font-size: 47px;
        line-height: 67px;
        margin-top: 79px;
    }

    .count-icons{
        margin-top: 93px;
    }

    .count-txt{
        font-size: 7px;
    }

}

@media(max-width:600px) {

    .last-txt {
        font-size: 20px;
        line-height: 28px;
        margin-top: 20px;
    }

    .count-icons {
        margin-top: 30px;
    }

    .count-items {
        margin: 0 25px;
    }

    .count-items img {
        width: 10px;
    }

    .count-txt {
        font-size: 8px;
        margin-top: 6px;
    }

    .qrImg {
        width: 160px;
        height: 160px;
        margin-top: 70px;
    }

    .applogo {
        width: 167px;
    }

    .media-icons {
        margin: 0 16px;
    }

    .social-icons {
        margin-top: 24px;
    }

    .social-icons img {
        width: 20px;
    }

    .ft-phones {
        width: 334px;
        margin-top: 54px;
    }

    .footer-wrap {
        margin: 3px 0;
        flex-wrap: wrap;
    }

    .grey {
        width: 100%;
        text-align: center;
        font-size: 14px;
        margin: 3px 0;
    }

    .grey-II{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    li {
        font-size: 13px;
        margin: 3px 8px;
    }

    .last-grey {
        width: 100%;
        font-size: 16px;
        text-align: center;
        margin: 2px 0;
    }

    @media(max-width:350px){
        .qrImg{
            width: 110px;
            height: 110px;
        }

        .applogo{
            width: 120px
        }

        .ft-phones {
            width: 255px;
            margin-top: 41px;
        }

        .grey {
            width: 100%;
            text-align: center;
            font-size: 10px;
            margin: 3px 0;
        }

        .grey-II{
            width: 100%;
            display: flex;
        }
    
        li {
           
            font-size: 9px;
            margin: 3px 8px;
        }
    
        .last-grey {
            width: 100%;
            font-size: 12px;
            text-align: center;
            margin: 2px 0;
        }
    }

}