.ph-container {
    display: flex;
    flex-direction: column;
}




.main-img{
    background: url('../../assets/header-imgs/download\ 1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100% !important;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.wall {
    display: flex;
    justify-content: center;
}

.wall img{
    width: 450px;
}

.wallet-img{
    display: flex;
    justify-content: center;
}

.wallet-img img{
    width: 80%;
    margin-top: 98px;
}

@media (max-width:820px) {

    .main-img{
        height: 43vh;
    }

    .wall img {
        width: 196px;
    }

    .wallet-img img{
        margin-top: 21px;
    }
}