.txt-container {
    width: 100%;
    margin: 156px 0 156px 0;
    display: flex;
    justify-content: center;
}

.txt-con {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 128px;
    line-height: 192px;
    /* or 150% */


    background: linear-gradient(180deg, #E26DFF 0%, #B819E0 35.94%, #1B0022 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.ph-txt {
    display: flex;
    justify-content: space-evenly;
}

.phone-txt {
    display: flex;
    align-items: center;
}

.inner-txt {
    width: 609px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 52px;
    line-height: 64px;
    /* or 150% */


    background: linear-gradient(180deg, #FFFFFF 0%, #808080 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.phonImg img {
    width: 415px;
}

.parent-chain {
    display: flex;
    flex-direction: column;
}

.go-img {
    margin-top: 200px;
}

.go-img img {
    width: 100%;
}

.go-txt {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height, or 150% */

    letter-spacing: 0.005em;

    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin-top: 40px;

}

.go-icons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.go-icons img {
    margin: 0 18px;
}

.ph2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
}

.ph2 img {
    width: 400px;
}


.ph2-cont {
    display: flex;
    flex-direction: column;
}

.ph2txt {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 79px;
    line-height: 87px;
    /* or 125% */


    background: linear-gradient(180deg, #FFF4B9 20%, #F5CF00 51.56%, #E98C00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.wite {
    margin-top: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    /* or 150% */

    letter-spacing: 0.005em;

    color: #FFFFFF;

}

.mt-2 {
    margin-top: 200px;
}

@media (min-width:600px) and (max-width:1150px) {

    .txt-con{
        
    font-size: 99px;
    line-height: 119px;

    }

    .phonImg img {
        width: 269px;
    }

    .ph2{
        margin-top: 105px;
    }

    .ph2 img {
        width: 265px;
    }

    .ph2txt {
        font-size: 55px;
        line-height: 58px;
    }

    .wite{
        font-size: 22px;
        line-height: 36px;
        margin-top: 25px;
    }

    .mt-2 {
        margin-top: 127px;
    }

    

}

@media (max-width:600px) {

    .txt-container {
        margin: 20px 0;
    }

    .txt-con {
        font-weight: 700;
        font-size: 47px;
        line-height: 67px;
    }

    .phonImg img {
        width: 128px;
    }

    .ph-txt {
        padding: 0 25px;
    }

    .inner-txt {
        width: auto;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
    }

    .go-img {
        margin-top: 40px;
    }

    .go-txt {
        font-size: 11px;
        line-height: 29px;
        margin: 0;
    }

    .go-icons {
        margin: 0 66px 0 0;
    }

    .go-icons img {
        width: 14px;
        height: 19px;
        margin: 0 6px;
    }


    .ph2 {
        margin-top: 10px;
    }

    .ph2 img {
        width: 151px;
    }

    .ph2txt {
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
    }

    .wite {
        font-size: 11px;
        line-height: 23px;
        margin-top: 10px;
    }

    .mt-2 {
        margin-top: 56px;
    }

}

@media(max-width:350px){

    .txt-con{
        font-size: 38px;
        line-height: 55px;
    }

    .ph2 img {
        width: 120px;
    }

    .ph2txt {
        font-size: 26px;
        line-height: 30px;
    }

    .wite {
        font-size: 8px;
        line-height: 16px;
        margin-top: 10px;
    }
}